NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ASSET_SECRET=
SETTLE_BASE_URL=http://lchkgy.com
SETTLE_CO_CODE=
SETTLE_USER_ID=
SETTLE_USER_PW=
CRON_SECRET=
